.SearchBox input {
  width: 100%;
  padding: 0.8rem 0.25rem;
  background: #e5e7eb;
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-align: center;
}

.SearchBox input:focus {
  outline: none;
}

.SearchBox {
  position: relative;
}

.SearchBox::after {
  content: "";
  position: absolute;
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
